
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Liste des Mises en demeure</h4>
    <h6 class="card-subtitle">Liste des notifications de mise en demeure</h6>



    <div class="m-t-40">
      <div class="d-flex">
        <div class="mr-auto">
          <div class="form-group">
            <button id="" class="btn btn-success btn-sm" data-toggle="modal" data-target="#responsive-modal" (click)="onAjouter()">
              <i class="fa fa-plus" area-hidden="true" ></i> Ajouter
            </button>
            <small>.</small> </div>
        </div>
        <div class="ml-auto">
          <div class="form-group">
            <input id="demo-input-search2" [(ngModel)]="motClet" type="text" placeholder="Recherche" autocomplete="on" (keyup)="Onsearch(motClet)">
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table  class="table table-striped color-bordered-table success-bordered-table">
        <thead>
        <tr>
          <th>numeroCompte</th>
          <th>date</th>
          <th>Client</th>
          <th>huissier</th>
          <th data-hide="phone, tablet">solde</th>
          <th data-hide="phone, tablet">status</th>
          <th data-hide="phone, tablet">decision</th>
          <th data-hide="phone, tablet">soldeInitiale</th>
          <th>dateOctroie</th>

        </tr>
        </thead>

        <tbody *ngIf="notificationDeMiseEnDemeures">
        <tr *ngFor="let h of notificationDeMiseEnDemeures._embedded.notificationDeMiseEnDemeures">
          <td>{{h.numeroCompte}}</td>
          <td>{{h.dateNotification |date}}</td>
          <td>{{h.client.nom}} {{h.client.prenom}} {{h.client.type}}</td>
          <td>{{h.huissier.nom}} {{h.huissier.prenom}}</td>
          <td>{{h.soldeNotification}}</td>
          <td *ngIf="h.statusNotification"><i class="fa fa-circle" style="color: #00a300;"></i></td>
          <td *ngIf="!h.statusNotification"><i class="fa fa-circle "style="color: #9f191f;"></i></td>
          <td>{{h.decisionNotification}}</td>
          <td>{{h.soldeInitiale}}</td>
          <td>{{h.dateOctroie}}</td>

        </tr>
        </tbody>
        <tfoot >
        </tfoot>
      </table>
    </div>
    <nav aria-label="..." *ngIf="notificationDeMiseEnDemeures">
      <ul class="pagination"  *ngIf="notificationDeMiseEnDemeures._embedded.notificationDeMiseEnDemeures.length !=0">
        <li class="page-item" *ngIf="notificationDeMiseEnDemeures">
          <button class="page-link"   [disabled]="!notificationDeMiseEnDemeures._links.prev" (click)="getPage(notificationDeMiseEnDemeures._links.prev.href)"><< </button>
        </li>
        <li class="page-item active">
          <button class="page-link"  disabled>{{notificationDeMiseEnDemeures.page.number +1}}</button>
        </li>
        <li class="page-item" *ngIf="notificationDeMiseEnDemeures">
          <button class="page-link"   [disabled]="!notificationDeMiseEnDemeures._links.next" (click)="getPage(notificationDeMiseEnDemeures._links.next.href)" >>></button>
        </li>
      </ul>
    </nav>

  </div>



<!--
  <div >
    <div>
      <label>PDF src</label>
      <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
    </div>
    <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
                style="display: block;">

    </pdf-viewer>

    <div class="card-body">
      <h4 class="card-title">Row Toggler</h4>
      <h6 class="card-subtitle">Create your table with Toggle Footable</h6>
      <table id="demo-foo-row-toggler" class="table toggle-circle table-hover color-bordered-table success-bordered-table">
        <thead>
        <tr>
          <th data-toggle="true"> First Name </th>
          <th> Last Name </th>
          <th data-hide="phone"> Job Title </th>
          <th data-hide="all"> DOB </th>
          <th data-hide="all"> Status </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Isidra</td>
          <td>Boudreaux</td>
          <td>Traffic Court Referee</td>
          <td>22 Jun 1972</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Shona</td>
          <td>Woldt</td>
          <td>Airline Transport Pilot</td>
          <td>3 Oct 1981</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Granville</td>
          <td>Leonardo</td>
          <td>Business Services Sales Representative</td>
          <td>19 Apr 1969</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Easer</td>
          <td>Dragoo</td>
          <td>Drywall Stripper</td>
          <td>13 Dec 1977</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Maple</td>
          <td>Halladay</td>
          <td>Aviation Tactical Readiness Officer</td>
          <td>30 Dec 1991</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Maxine</td>
          <td><a href="#">Woldt</a></td>
          <td><a href="#">Business Services Sales Representative</a></td>
          <td>17 Oct 1987</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Lorraine</td>
          <td>Mcgaughy</td>
          <td>Hemodialysis Technician</td>
          <td>11 Nov 1983</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Lizzee</td>
          <td><a href="#">Goodlow</a></td>
          <td>Technical Services Librarian</td>
          <td>1 Nov 1961</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Judi</td>
          <td>Badgett</td>
          <td>Electrical Lineworker</td>
          <td>23 Jun 1981</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Lauri</td>
          <td>Hyland</td>
          <td>Blackjack Supervisor</td>
          <td>15 Nov 1985</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Isidra</td>
          <td>Boudreaux</td>
          <td>Traffic Court Referee</td>
          <td>22 Jun 1972</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Shona</td>
          <td>Woldt</td>
          <td>Airline Transport Pilot</td>
          <td>3 Oct 1981</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Granville</td>
          <td>Leonardo</td>
          <td>Business Services Sales Representative</td>
          <td>19 Apr 1969</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Easer</td>
          <td>Dragoo</td>
          <td>Drywall Stripper</td>
          <td>13 Dec 1977</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Maple</td>
          <td>Halladay</td>
          <td>Aviation Tactical Readiness Officer</td>
          <td>30 Dec 1991</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Maxine</td>
          <td><a href="#">Woldt</a></td>
          <td><a href="#">Business Services Sales Representative</a></td>
          <td>17 Oct 1987</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Lorraine</td>
          <td>Mcgaughy</td>
          <td>Hemodialysis Technician</td>
          <td>11 Nov 1983</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Lizzee</td>
          <td><a href="#">Goodlow</a></td>
          <td>Technical Services Librarian</td>
          <td>1 Nov 1961</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Judi</td>
          <td>Badgett</td>
          <td>Electrical Lineworker</td>
          <td>23 Jun 1981</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Lauri</td>
          <td>Hyland</td>
          <td>Blackjack Supervisor</td>
          <td>15 Nov 1985</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Isidra</td>
          <td>Boudreaux</td>
          <td>Traffic Court Referee</td>
          <td>22 Jun 1972</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Shona</td>
          <td>Woldt</td>
          <td>Airline Transport Pilot</td>
          <td>3 Oct 1981</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Granville</td>
          <td>Leonardo</td>
          <td>Business Services Sales Representative</td>
          <td>19 Apr 1969</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Easer</td>
          <td>Dragoo</td>
          <td>Drywall Stripper</td>
          <td>13 Dec 1977</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Maple</td>
          <td>Halladay</td>
          <td>Aviation Tactical Readiness Officer</td>
          <td>30 Dec 1991</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Maxine</td>
          <td><a href="#">Woldt</a></td>
          <td><a href="#">Business Services Sales Representative</a></td>
          <td>17 Oct 1987</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Lorraine</td>
          <td>Mcgaughy</td>
          <td>Hemodialysis Technician</td>
          <td>11 Nov 1983</td>
          <td><span class="label label-table label-inverse">Disabled</span></td>
        </tr>
        <tr>
          <td>Lizzee</td>
          <td><a href="#">Goodlow</a></td>
          <td>Technical Services Librarian</td>
          <td>1 Nov 1961</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        <tr>
          <td>Judi</td>
          <td>Badgett</td>
          <td>Electrical Lineworker</td>
          <td>23 Jun 1981</td>
          <td><span class="label label-table label-success">Active</span></td>
        </tr>
        <tr>
          <td>Lauri</td>
          <td>Hyland</td>
          <td>Blackjack Supervisor</td>
          <td>15 Nov 1985</td>
          <td><span class="label label-table label-danger">Suspended</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  -->
</div>


